<header>
  <div class="header-container">
    <div class="header-top">
      <div class="container">
        <div class="row"> 
          <!-- Header Language -->
          <div class="col-xs-12 col-sm-6">
            <div class="welcome-msg">{{vm.contactData.message}}</div>                  
          </div>
          <div class="col-xs-6 hidden-xs"> 
            <!-- Header Top Links -->
            <div class="jtv-top-links">
              <div class="links">
                <ul class="header-alert">                  
                  <li> <p><i class="fa fa-whatsapp"></i><span>{{vm.contactData.watsapp}}</span> </p> </li>
                  <li> <p><i class="fa fa-mobile"></i><span>{{vm.contactData.mobile}}</span> </p> </li>
                  <li> <p> <i class="fa fa-envelope"></i><span><a href="mailto:{{vm.contactData.mailId}}"></a>{{vm.contactData.mailId}}</span></p> </li>
                </ul>
              </div>
            </div>
            <!-- End Header Top Links --> 
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">         
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 jtv-logo-box"> 
          <!-- Header Logo -->
          <div class="logo"> <h1>
            <a title="eCommerce" ng-href="#/home">
              <img alt="eCommerce" ng-src="./../../images/logo-big.png" width="400" height="100"/> 
            </a>
          </h1> </div>
          <!-- End Header Logo --> 
        </div>
      </div>
    </div>
  </div>
</header>

<navigation-component></navigation-component>
<feature-component></feature-component>

