<div class="our-features-box hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-6" ng-repeat="feature in vm.features">
        <div class="feature-box first"> 
          <i class="{{feature.icon}} icons"></i>
          <div class="content">
            <h6>{{feature.label}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>