<nav>
  <div class="container">
    <div class="mm-toggle-wrap">
      <div class="mm-toggle"><i class="fa fa-align-justify"></i><span class="mm-label">Menu</span> </div>
    </div>
    <div class="nav-inner"> 
      <!-- BEGIN NAV -->
      <ul id="nav" class="hidden-xs">            
        <li class="mega-menu" ng-repeat="nav in vm.navLinks"> <a class="level-top" href="{{nav.link}}"><span>{{nav.name}}</span></a> </li>
      </ul>
    </div>
  </div>
</nav>