@import url('./../vendor/css/bootstrap.min.css');
@import url('./../vendor/css/animate.css');
@import url('./../vendor/css/font-awesome.min.css');
@import url('./../vendor/css/simple-line-icons.css');
@import url('./../vendor/css/owl.carousel.css');
@import url('./../vendor/css/owl.transitions.css');
@import url('./../vendor/css/flexslider.css');
@import url('./../vendor/css/cloud-zoom.css');
@import url('./../vendor/css/revolution-slider.css');
@import url('./../vendor/css/jquery-ui.css');
@import url('./../vendor/css/jquery.fancybox.css');
@import url('./../vendor/css/quick_view_popup.css');
@import url('./../vendor/css/blogmate.css');
@import url('./../vendor/css/jtv-mobile-menu.css');
@import url('./../vendor/css/style.css');
@import url('./../vendor/css/responsive.css');

@import url('./header/header.css');


body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}